body {
  margin: 2em;
}

.content {
  margin: 0 auto;
  max-width: 500px;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list li {
  padding: .5em 1em;
  margin: 1em 0;
  background: #eee;
}
