{% load static %}
<!doctype html>
<html lang="en">

  <head>
    <title>OSER</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
  </head>

  <body>

    <nav>
      <ul class="nav nav-tabs">
        <li>
          <a href="{% url 'registration-list' %}">Liste des inscriptions</a>
        </li>
        <li>
          <a href="{% url 'registration-create' %}">Nouvelle inscription</a>
        </li>
      </ul>
    </nav>

    {% include "upload/messages.html" %}

    <div class="content">
      {% block content %}{% endblock %}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </body>
</html>
